<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <style>
               .inner-card{
                    display: inline;
               }
               .title{
                    display: flex;
                    justify-content: left;

               }
               .buttons{
                    display: flex;
                    justify-content: right;
               }
               a:hover{
                    color:white;
               }
               a{
                    text-decoration: none;
               }
               .btn-outline-danger a{
                    color:red;
               }
               .btn-outline-danger a:hover{
                    color:white;
               }
          </style>
          <link rel="stylesheet" href="/static/css/style.css">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     </head>
     <body >
          <header>
               <nav  class="navbar navbar-expand-lg bg-body-tertiary" style="padding-top:0%; padding-bottom:0%">
                    <div class="container-fluid">
                         <a id="text" class="navbar-brand" href="/Admin/Dashboard">Music Streaming app</a>
                         <button class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon">
                              
                         </span>
                         </button>
                         
                         <div class="collapse navbar-collapse" id="navbarTogglerDemo02" >
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                   <li class="nav-item">
                                        <a id="text" class="nav-link active" aria-current="page" href="/Admin/Tracks">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
                                                  <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2"/>
                                                  <path fill-rule="evenodd" d="M9 3v10H8V3z"/>
                                                  <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5z"/>
                                                </svg>Tracks</a>
                                   </li>
                                   <li class="nav-item">
                                        <a id="text" class="nav-link active" href="/Admin/Albums"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-album" viewBox="0 0 16 16">
                                             <path d="M5.5 4a.5.5 0 0 0-.5.5v5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-.5-.5zm1 7a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z"/>
                                             <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                                             <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                                           </svg>Albums</a>
                                   </li>
                                   <li class="nav-item">
                                        <a id="text" class="nav-link active" href="/adminLogin"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                                             <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
                                             </svg>logout</a>
                                   </li>
                              </ul>
                         
                         </div>
                    </div>
               </nav>
          </header>
          <div id="main" style="padding: 10px;">
               <h3>All tracks</h3>
               {%for i in Genre%}
                    
                    <div class="card" style="margin-top:10px;background-color:#415A77 ; color:white;">
                         <div class="card-header">
                              <h3>{{i}}</h3>
                         </div>
                         <div class="card-body" style="padding: 10px;">
                              {%for j in range(Songs|length)%}
                                   {%if(Songs[j].Genre==i)%}
                                        
                                        <div class="card" style="margin:10px;background-color: #778DA9;">
                                             <div class="card-body inner-card" style="display: flex;align-items:center">
                                                  <div class="card-body">
                                                       <h4>{{Songs[j].SongName}}</h4>
                                                  </div>
                                                  
                                                  <div style="float: right;">
                                                       <button style="margin-left:5px" class="btn btn-primary"><a style="text-decoration: none;color:white" href="/Admin/Song/{{Songs[j].Sid}}/play">Play</a>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                             <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                             </svg>
                                                       <button on style="margin-left:5px" class="btn btn-danger"><a style="text-decoration: none;color:white;" href="/Admin/Tracks/{{Songs[j].Sid}}/delete" >
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                                 <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/></svg>
                                                                                                              delete
                                                       </a>
                                                            
                                                            
          
                                                       </button>
                                                  </div>
                                                  
                                             </div>
                                        </div>
                                   {%endif%}
                              {%endfor%}
                              
                              
                         </div>
                    </div>
               {%endfor%}
               
          </div>     
     </body>
</html>