     <!DOCTYPE html>
     <html>
          <head >
          <title>Switch to Creator</title>
          <meta charset="utf-8">
          <link rel="stylesheet" href="/static/css/style.css">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          
               <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
               <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
               <nav style="background-color: black; padding:0px" class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                         
                    <a class="navbar-brand" id="text"href="/Home/{{userId}}">Music Streaming app</a>
                    
                    <button class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon">
                         
                    </span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="nav-item">
                              <a id="text" class="nav-link active" aria-current="page" href="/Home/{{userId}}">Home</a>
                         </li>
                         <li class="nav-item">
                         <a class="nav-link" id="text" href="/Profile/{{userId}}">Profile</a>
                         </li>
                         <li class="nav-item">
                              <a id="text" class="nav-link" href="/">log out</a>
                         </li>
                         </ul>
                         
                    </div>
                    </div>
               </nav>
          </head>
          
          <body>
               <div id="main">
                    <div class="row">
                    
                         <div class="col" >
                              <div class="card text-center" style="margin:10px;border-radius:10px;background-color: #778DA9;" id="register">
                                   <div class="card-body">
                                        <div class="card-title">
                                             <h1>Register As Creator</h1>
                                        </div>
                                        <div class="card-text">
                                             <p> Switch to Creator</p>
                                        </div>
                                        <button class="btn btn-primary"><a  style="color:white; text-decoration: none;" href="/Creator/{{userId}}/addCreator">+</a></button>
                                   </div>
                              </div>
                              
                         </div>
                    </div>
               </div>
               
               
          </body>
     </html>
